#howTo {
    color: rgb(20, 13, 61);
    font-family: 'Pacifico', cursive;
    font-size: 60px; 
    text-align: center; 
    margin-top: 30px;
    margin-bottom: -10px; 
    background-color: rgb(228, 226, 226);
    padding-left: 62px; 
    padding-right: 692px; 
    text-shadow:
		-2px -2px 0 #b87aff,
		2px -2px 0 #b87aff,
		-1px 1px 0 #b87aff,
    1px 1px 0 #b87aff
}

@media only screen and (max-width: 1200px) {
  #howTo { 
    font-size: 50px;
    padding: 1px;
    background-color: rgb(223, 223, 223);
    padding-left: 320px;
    padding-right: 320px; 
    margin: 0 auto;
    text-align: left;
  }
}