.login-form {
    background-color: #8e46d1;
    width: 405px;
    height: 350px;
    opacity: 0.8;
    padding: 40px;
    margin-top: -20px;
    margin-left: 820px; 
    color: white;
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    font-weight: bold;
    z-index: 1;
}

#login-welcome {
    background-color: transparent;
    color: white;
}

.btn {
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.btn:hover {
    color:rgb(182, 182, 182);  
}

.login-form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eaeaea;
    color: #5f5f5f;
    border-radius: 5px; 
}


#forgot {
    color: #ffffff;
    float: right;
    background-color: transparent;
    border: none; 
    font-weight: bold;
    cursor: pointer; 
}

#forgot:hover {
    color:rgb(182, 182, 182);  
}
