#copyright {
    color: rgb(51, 51, 51);
    text-align: center; 
    padding: 30px;
    font-size: 18px;
    font-weight: bold; 
    font-family: 'Open Sans Condensed', sans-serif;
    /* border-top: 8px double #ceb0f0; */
}